html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar {
    display: none;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}