html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    
}
::-webkit-scrollbar {
    display: none;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-main;
}

ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.btn-prime {
    width: 50%;
    height: 3em;
    max-width: 225px;
    max-height: 60px;
    border: none;
    font-family: $font-secondary;
    color: $color-text-prime;
    background-color: $color-prime-light;
    background: linear-gradient(64deg, #496bfe, 27%, #5474fd 12%);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s linear;

    &:hover {
        transform: translateY(-5px);
        box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.75);
        -webkit-box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 2px 5px 20px 0px rgba(0, 0, 0, 0.75);
    }
}
