// Nav panel
.nav {
    display: flex;
    background-color: $color-prime-light;
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
}
.nav__logo {
    text-transform: uppercase;
    color: $color-text-prime;
    font-size: 1.6rem;
}
.nav__menu {
    visibility: hidden;
    color: #fff;
    font-size: 2rem;
    position: relative;
    bottom: 4px;
}
.nav__list {
    display: flex;
}
.nav__link {
    color: $color-text-prime;
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0 1rem;
    transition: 0.3s linear;
    &__active {
        padding-bottom: 2px;
        border-bottom: 2px solid $color-text-light;
    }
    &:hover {
        font-weight: bold;
    border-bottom: 2px solid $color-text-light;
    padding-bottom: 2px;
    }
}
