// Scroller
.main-page__scroller {
    display: flex;
    flex-direction: column;
    opacity: 0.7;
}
.main-page__scroller object {
    margin-top: 3px;
    align-self: center;
    width: 15px;
    transition: ease-in-out 0.5s;
}
.scroller__text {
    color: $color-text-prime;
    font-size: 14px;
}
.main-page__scroller:hover {
    opacity: 1;
    transition: 0.2s ease-in;
}
.main-page__scroller:hover object{
    transform: translateY(10px);
}
