// Search area
.main-page__search {
    margin-top: 3rem;
    border: 2px solid #fff;
    width: 50%;
    display: flex;
    height: 60px;
    margin-bottom: 10%;
}
.btn__submit {
    background-color: $color-prime-light;
    border: none;
    color: $color-text-prime;
    font-family: $font-secondary;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}
.btn__submit object {
    position: relative;
    left: 11px;
    bottom: 3px;
    transition: 3s linear;
}
.btn__submit:hover object {
    transform:rotate(360deg);
}

.search__input {
    position: relative;
    width: 100%;
    border: none;
    padding-left: 25%;
    font-family: $font-main;
    font-size: 14px;
    letter-spacing: 2.8px;
    &:focus {
        background-color: $color-text-light;
    }
}