// Search area
.main-page__search {
    margin-top: 3rem;
    border: 2px solid #fff;
    width: 50%;
    display: flex;
    height: 60px;
    margin-bottom: 10%;
}
.btn__submit {
    background-color: $color-prime-light;
    border: none;
    color: $color-text-prime;
    font-family: $font-secondary;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}
.btn__submit object {
    position: relative;
    left: 11px;
    bottom: 3px;
    transition: 3s linear;
}
.btn__submit:hover object {
    transform:rotate(360deg);
}
.btn-prime {
    width: 50%;
    height: 3em;
    max-width: 225px;
    max-height: 60px;
    border: none;
    font-family: $font-secondary;
    color: $color-text-prime;
    background: linear-gradient(64deg, #496bfe, 27%, #5474fd 12%);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s linear;
    &:hover {
        transform: translateY(-5px);
        box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.75);
        -webkit-box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.75);
        -moz-box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.75);
    }
    }

.search__input {
    position: relative;
    width: 100%;
    border: none;
    padding-left: 25%;
    font-family: $font-main;
    font-size: 14px;
    letter-spacing: 2.8px;
    &:focus {
        background-color: $color-text-light;
    }
}