@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/iconmoon/')
  src:  url('../fonts/iconmoon/icomoon.eot?doi48e');
  src:  url('../fonts/iconmoon/icomoon.eot?doi48e#iefix') format('embedded-opentype'),
    url('../fonts/iconmoon/icomoon.ttf?doi48e') format('truetype'),
    url('../fonts/iconmoon/icomoon.woff?doi48e') format('woff'),
    url('../fonts/iconmoon/icomoon.svg?doi48e#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-complete:before {
  content: "\e900";
}
.icon-like:before {
  content: "\e901";
}
.icon-search:before {
  content: "\e902";
}
