@import "variables";
@import "globals";

// Main page
.main-page {
    background-image: url(../images/bg_prime.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.main-page__logo-main {
    color: $color-text-prime;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    letter-spacing: 4.8px;
    font-size: 3rem;
}
.main-page__logo-secondary {
    text-align: center;
    color: $color-text-prime;
    letter-spacing: 6.70px;
    font-size: 1.3rem;
    font-weight: 400;
}
// Search area
.main-page__search {
    margin-top: 3rem;
    border: 2px solid #fff;
    width: 50%;
    display: flex;
    height: 60px;
    margin-bottom: 10%;
}
.btn__submit {
    background-color: $color-prime-light;
    border: none;
    color: $color-text-prime;
    font-family: $font-secondary;
    font-size: 14px;
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 20px;
    cursor: pointer;
}
.btn__submit object {
    position: relative;
    left: 11px;
    bottom: 3px;
    transition: 3s linear;
}
.btn__submit:hover object {
    transform:rotate(360deg);
}
.btn-prime {
    width: 50%;
    height: 3em;
    max-width: 225px;
    max-height: 60px;
    border: none;
    font-family: $font-secondary;
    color: $color-text-prime;
    background: linear-gradient(64deg, #496bfe, 27%, #5474fd 12%);
    letter-spacing: 1.2px;
    text-transform: uppercase;
    cursor: pointer;
    transition: 1s linear;
}
.btn-prime:hover {
    transform: translateY(-5px);
    box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 5px 20px 0px rgba(0,0,0,0.75);
}
.search__input {
    position: relative;
    width: 100%;
    border: none;
    padding-left: 25%;
    font-family: $font-main;
    font-size: 14px;
    letter-spacing: 2.8px;
}
.search__input:focus{
    background-color: $color-text-light;
}
// Scroller
.main-page__scroller {
    display: flex;
    flex-direction: column;
    opacity: 0.7;
}
.main-page__scroller object {
    margin-top: 3px;
    align-self: center;
    width: 15px;
    transition: ease-in-out 0.5s;
}
.scroller__text {
    color: $color-text-prime;
    font-size: 14px;
}
.main-page__scroller:hover {
    opacity: 1;
    transition: 0.2s ease-in;
}
.main-page__scroller:hover object{
    transform: translateY(10px);
}
// Nav panel
.nav {
    display: flex;
    background-color: $color-prime-light;
    height: 5rem;
    align-items: center;
    justify-content: space-evenly;
}
.nav__logo {
    text-transform: uppercase;
    color: $color-text-prime;
    font-size: 1.6rem;
}
.nav__menu {
    visibility: hidden;
    color: #fff;
    font-size: 2rem;
    position: relative;
    bottom: 4px;
}
.nav__list {
    display: flex;
}
.nav__link {
    color: $color-text-prime;
    font-family: $font-secondary;
    text-transform: uppercase;
    font-size: 0.9rem;
    margin: 0 1rem;
    transition: 0.3s linear;
    &__active {
        padding-bottom: 2px;
        border-bottom: 2px solid $color-text-light;
    }
}
.nav__link:hover {
    font-weight: bold;
    border-bottom: 2px solid $color-text-light;
    padding-bottom: 2px;
}
// Section Why US
.whyus {
    height: 90vh;
    max-height: 685px;
    background-image: url(../images/bg_pg2.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.whyus__article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    margin-left: 10%;
    margin-right: 2em;
}
.whyus__article__heading {
    font-family: $font-secondary;
    color: $color-text-prime;
}
.whyus__article__description {
    color: $color-text-light;
    letter-spacing: 1.6px;
    line-height: 1.5rem;
}
.pic__wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: center;
}
.whyus__img {
    height: 30%;
    max-width: 350px;
    max-height: 220px;
    background-repeat: no-repeat;
    background-size: contain;
    margin: 0.2em;
}
.image-one{
    background-image: url(../images/house.png);
}
.image-two{
    background-image: url(../images/Image.png);
    position: relative;
    left: 10%;
}

// todo
.todo {
    height: 20vh;
    max-height: 337px;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo__wrapper {
    width: 40%;
    height: 60%;
    background-image: url(../images/Shape_1.svg);
    background-repeat: no-repeat;
    background-position:top;
    background-size: contain;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.todo__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $color-text-light;
    font-family: $font-secondary;
}
.icon-search {
    color: #5474fd;
    font-size: 2rem;
    margin-bottom: 10px;
    background-color: #333333;
    border-radius: 50%;
}
.icon-like {
    color: #5474fd;
    font-size: 2rem;
    margin-bottom: 10px;
    background-color: #333333;
    border-radius: 50%;
}
.icon-complete {
    color: #ff6363;
    font-size: 2rem;
    margin-bottom: 10px;
    background-color: #333333;
    border-radius: 50%;
}
// Book Me
.bookme {
    height: 100vh;
    max-height: 700px;
    background-image: url(../images/bg_bighouse.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.sticker {
    margin-left: 10%;
    width: 40%;
    max-width: 540px;
    height: 50%;
    max-height: 371px;
    background-color: #232323cb;
    color: $color-text-prime;
    padding: 2rem;
}
.sticker__heading {
    font-weight: 400;
}
.sticker__discr {
    line-height: 26px;
}
// Bookme 2
.bookme-two {
    height: 100vh;
    max-height: 700px;
    background-image: url(../images/bg_view.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}
.bookme-two {
    flex-direction: row-reverse;
}
.bookme-two .sticker {
    margin-right: 10%;
}
// feedback
.feedback {
    height: 80vh;
    background-image: url(../images/bg_man.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.feedback__heading {
    font-family: $font-secondary;
    color: $color-text-prime;
}
.feedback__wrapper {
    height: 40%;
    max-height: 284px;
    margin: 10%;
    display: flex;
    max-width: 1110px;
}
.feedback__img {
    background-image: url(../images/ph_sam.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 30%;
    cursor: pointer;
    transition: linear 2s;
}
.feedback__img:hover {
    transform:rotate(0.01turn);
}
.feedback__dsrptr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    padding: 2rem;
    background-color: #333333;
}
.dsrptr__name {
    color: $color-text-prime;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
}
.dsrptr__text {
    color: $color-text-prime;
    line-height: 22px;
    font-weight: 300;
}
.fa-quote-left {
    color: $color-prime-light;
    position: relative;
    bottom: 8px;
}
// Footer
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 20vh;
    background-color: $color-prime-dark;
}
.footer__wrapper {
    width: 30%;
    height: 50%;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.footer__logo-main {
    color: $color-text-prime;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}
.footer__logo-second {
    color: $color-text-prime;
    font-weight: 400;
}
.footer__socials {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
.footer__social__link {
    color: $color-text-prime;
}
.footer__social__link:hover {
    color: $color-prime-light;
}

